In [21]:
##importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np
import yfinance as yf
from datetime import datetime
import warnings
import requests
warnings.simplefilter(action='ignore', category=FutureWarning)

In [23]:
# Try different encodings
possible_encodings = ['utf-8', 'latin-1', 'utf-16']

for encoding in possible_encodings:
    try:
        hourly_data = pd.read_csv('data/GBPJPY.txt', encoding=encoding)
        break  # If successful, exit the loop
    except UnicodeDecodeError:
        print(f"Failed to read with encoding {encoding}")

# Now 'hourly_data' contains your DataFrame

Failed to read with encoding utf-8

In [31]:
data = pd.read_csv('data/GBPUSD/GBPUSD.txt', sep =',')
data

        <TICKER>  <DTYYYYMMDD>  <TIME>  <OPEN>  <HIGH>   <LOW>  <CLOSE>  <VOL>
0         GBPUSD      20010102  230100  1.5021  1.5021  1.5018   1.5018      4
1         GBPUSD      20010102  230200  1.5019  1.5019  1.5019   1.5019      4
2         GBPUSD      20010102  230300  1.5018  1.5019  1.5018   1.5019      4
3         GBPUSD      20010102  230400  1.5019  1.5019  1.5019   1.5019      4
4         GBPUSD      20010102  230500  1.5017  1.5018  1.5017   1.5018      4
...          ...           ...     ...     ...     ...     ...      ...    ...
8201124   GBPUSD      20240229  235500  1.2624  1.2624  1.2624   1.2624      4
8201125   GBPUSD      20240229  235600  1.2626  1.2626  1.2626   1.2626      4
8201126   GBPUSD      20240229  235700  1.2625  1.2625  1.2625   1.2625      4
8201127   GBPUSD      20240229  235800  1.2625  1.2625  1.2625   1.2625      4
8201128   GBPUSD      20240229  235900  1.2625  1.2625  1.2625   1.2625      4

[8201129 rows x 8 columns]

In [30]:
data = pd.read_csv('data/GBPJPY.csv', sep =',')
data

     Unnamed: 0
0           4.0
1           4.0
2           4.0
3           4.0
4           4.0
..          ...
769         3.0
770         3.0
771         3.0
772         3.0
773         NaN

[774 rows x 1 columns]